*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    

}
.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    height: 65px;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    

}
li{
    padding: 0;
    margin: 0;

   
   

}
li a{
    display: block;
    padding: 25px;
    margin: 0;
    text-decoration: none;
    color: black;
   height: 65px;

   
   
    

}
.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

    
}
.search{
    display: flex;
    align-items: center;
    position: relative;

}
.fa-solid{
position: absolute;
right: 7px;

}
.darkmood{
    display: flex;
    justify-items: center;
   position: absolute;
   top: 12px;
   left:44%;
   padding: 10px;
  
   border-radius: 50px;

}
input{
    border: 1px solid rgb(210, 205, 205);
    border-radius: 25px;
    outline: none;
    width: 198px;
    
}
.right{
    position: relative;
    display: flex;
     gap: 15px;
     
     justify-content:end;
     align-items: center;

    

}
.drk{
    position: absolute;
    top: 21px;
    left: 1px;
}

.space{
    position: relative;
}
.fa-code{
    position: absolute;
    color: #9763f6;
    left: 3px;
    TOP:29PX;
    font-size: 14PX;
}
.teacher
{

    position: relative;
}


.teacher i{
    position: absolute;
    left: 3px;
    font-size: 15PX;
    top: 29PX;

}.get
{

    position: relative;
}

.get i{
    position: absolute;
    left: 3px;
    top: 29PX;
    font-size: 15PX;
}
.left li a:hover { 
    background-color: rgb(4, 170, 109);
    color: white;

}



.MLAST{
    width: 180PX;
    background-color: rgb(217, 238, 225);


    height: 45px;
    margin-right: 30px;
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
    overflow: hidden;
    position: relative;
    

}
.last1,.last2{
   
    
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.last1{
    background-color:rgb(4, 170, 109) ;
   border-radius: 25PX;
    z-index: 2;
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   
    
   
}
.last2{
   
    border-bottom-right-radius: 15px;
   background-color:rgb(217, 238, 225)  ;

  
        z-index:1;
        display: flex;
        height: 45PX;
    align-items: center;
    justify-content:center;
    padding-left: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 110PX;
    font-family: Arial, Helvetica, sans-serif;
       
    
}
.last2:hover  {
background-color:rgb(38, 148, 89) ;
color: white;

}
.SECBAR{
    
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 1px;
    overflow:hidden;
}
.SECBAR LI A{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size:14px;
    margin: 0;
    background-color: rgb(46, 46, 46);
}
.SECBAR ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
justify-content:start;
align-items: center ;
gap: 0;

}

.SECBAR li{
    margin: 0;
    padding:0;

}

.right li a{
    border-radius: 25px;
   
    height: 35px;
   margin-top: 7PX;
   display: inline-block;
   vertical-align: middle;
   line-height: 14PX;
   width: 150PX;

}
.right li{
    margin: 0;
    padding: 0;
  
}

.right li a:hover{
    background-color:rgb(245, 244, 244);


}
.SECBAR LI A:hover{
    background-color: rgb(0, 0, 0);
}

input:focus{
    border-color: rgb(26, 167, 26);
    border-width: 3px;
}
.darkmood:hover{
    background-color: rgb(243, 243, 243);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  
 